@model FinanceAnalytic.Models.SpendingSubCategory

@{
    ViewData["Title"] = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    

  
    <div class="row">
        <div class="col-md-4">
            <h4>Подкатегория расходов</h4>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label><span class="required">*</span>
                    <input name="spCategory" required asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SpendingCategoryId" class="control-label"></label><span class="required">*</span>
                    <select name="name" required asp-for="SpendingCategoryId" class="form-control" asp-items="ViewBag.SpendingCategoryId"></select>
                    <span asp-validation-for="SpendingCategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Сохранить" class="button_yellow_s" />
                    <a asp-action="Index" class="button_yellow_s">Вернуться к списку</a>
                </div>
            </form>
        </div>
    </div>
</div>
